<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test_URL</title>

    <link href="style.css" rel="stylesheet">
</head>
<body>
<div class="content" align="center">
    <h1>Gallery</h1>
    {{range .URLImgData}}
        <div  id="gallery">
            <figure class="photo">
                <img src="{{ .URLImg }}" style="border-width: 20px; border-radius: 5px;" >
                <figcaption >
                    {{ .Color }}
                </figcaption>
            </figure>
        </div>
    {{end}}
</div>
</body>
</html>